.loaded {
  .main-wrapper {
    display: none;
  }

  .background-lines {
    height: 0%;
  }

  .icon-load {
    display: block;
  }
}

.icon-load {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.main-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  min-width: 320px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.row {
  &:after {
    display: none;
  }

  &.clearfix:after {
    display: block;
  }
}

.section {
  position: relative;
}

.section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &:after {
    content: '';
    @extend .section-bg;
    opacity: .25;
    background: rgba(0, 0, 0, .5);
    z-index: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.background-lines {
  position: fixed;
  top: 0;
  left: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
  transform-origin: 0 50%;
  transition: $transition-base;
  transition-delay: 0.3s;
  z-index: -5;

  &__line {
    flex: 1 1 50%;
    border-right: 1px solid #F0F0F0;
    transition: $transition-base;

    &:first-child {
      border-left: 1px solid #F0F0F0;
    }

    &:nth-last-child(1), &:nth-last-child(2) {
      display: none;
    }
  }
}

.sup-title {
  margin: 0 0 10px;
  color: $title-color;
  font-size: 24px;
  font-weight: 600;
}

.title {
  margin: 0 0 20px;
  font-size: 54px;
  font-weight: 700;
}

.btn {
  border: none;
  border-radius: 3px !important;
  box-shadow: none !important;
  transition: $transition-base;

  &-sm {
    box-shadow: none !important;
  }

  &-lg {
    min-width: 220px;
    padding: 20px;
    box-shadow: none !important;
  }

  &-primary {
    color: white;
    font-size: 16px;
  }

  &-link {
    color: $text-color;
    font-weight: 700;

    &:hover {
      color: $primary;

      svg {
        fill: $primary;
      }
    }

    svg {
      width: 18px;
      height: 18px;
      margin-left: 5px;
      fill: $text-color;
      transition: $transition-base;
    }
  }
}

.style-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  padding: 0;
  margin: 0;
  list-style: disc;

  li {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    &:not(:last-child) {
      margin: 0 0 30px;
    }

    &::before {
      content: '';
      flex: 0 0 6px;
      display: inline-block;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      margin-right: 20px;
      background: $primary;
    }
  }
}

.form-control {
  height: auto;
  padding: 18px 12px;
  border: none;
  background: #F8F8F8;
  box-shadow: none;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .checkbox-wrap > .checkbox {
  &::before {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }
}

.checkbox {
  flex: 0 0 auto;
  position: relative;
  width: 23px;
  height: 23px;
  border: 1px solid $text-color;
  border-radius: 3px;
  margin-right: 10px;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
    background: $primary;
    transform: translate(-50%, -50%) scale(0);
    transition: $transition-base;
    will-change: transform;
  }

  &-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
  }

  &-text {
    align-self: center;
    font-size: 14px;
    font-weight: 600;
  }
}

.swiper-button {
  position: absolute;
  top: 0;
  right: 15px;
  width: 30%;
  max-width: 350px;
  height: 10px;


  &-prev, &-next {
    width: 32px;
    height: 32px;
    background: none;

    &:hover {
      svg {
        fill: $primary;
      }
    }

    svg {
      width: 31px;
      height: 30px;
      transition: $transition-base;
    }
  }

  &-prev {
    left: 0;

    svg {

    }
  }

  &-next {
    right: 0;
    transform: rotate(180deg);

    svg {

    }
  }
}

.nav-outside {
  margin-top: 60px;

  .swiper-slide {
    img {
      width: 100%;
    }
  }
}

.nav-inside {
  .swiper-slide {
    width: auto;

    img {
      width: 100%;
    }
  }

  .swiper-button {
    &-prev, &-next {
      width: 32px;
      height: 32px;
      background: none;

      &:hover {
        svg {
          fill: $primary;
        }
      }

      svg {
        width: 31px;
        height: 30px;
        transition: $transition-base;
      }
    }

    &-prev {
      left: 0;

      svg {

      }
    }

    &-next {
      right: 0;
      transform: rotate(180deg);

      svg {

      }
    }
  }
}