/*************************************************
********************* FOOTER *********************
*************************************************/
footer.footer {
  order: 3;
  -webkit-order: 3;
  position: relative;
  padding: 40px 0;
  background: $section-bg;

  .logo {
    margin-bottom: 40px;
  }
}

.footer-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;

  &__column {
    flex: 1 1 33%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    &:not(:last-child) {
      margin: 0 0 40px;
    }

    &-title {
      margin: 0 0 30px;
      font-size: 20px;
      font-weight: 600;
    }
  }

  &__social {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;

    &-text {
      margin: 0 0 30px;
      font-size: 20px;
      font-weight: 600;
    }

    &-container {
      display: flex;
      flex-direcion: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
    }

    &-link {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 42px;
      height: 40px;
      border-radius: 2px;
      background: $main-first-color;

      &:not(:last-child) {
        margin-right: 20px;
      }

      svg {
        width: 24px;
        height: 24px;
        fill: white;
        transition: $transition-base;
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    width: 100%;
    height: 160px;

    &-link {
      font-weight: 500;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  &__contacts {
    padding: 0;
    margin: 0;

    &-item {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: stretch;
      align-content: stretch;
      &:not(:last-child) {
        margin-bottom: 30px;
      }

      svg {
        width: 24px;
        height: 24px;
        margin-right: 20px;
      }
    }

    &-text {}
  }
}

.copyright {
  margin: 30px 0 0;
  font-size: 13px;
  font-weight: 500;
}