/*************************************************
********************* HEADER *********************
*************************************************/
header.header {
  order: 1;
  -webkit-order: 1;
  position: fixed;
  inset: auto;
  min-width: 320px;
  width: 100%;
  z-index: 100;
  background: #ffffff;
}

.header-top-wrap {
  position: relative;
  transition: $transition-base;
}

.header-top {
  display: none;

  &__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    margin: 0 0 10px;

    &-text {
      font-size: 12px;
      font-weight: 500;

      &:not(:last-child) {
        margin: 0 0 5px;
      }
    }
  }

  &__contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 0;
    margin: 0;

    &-item {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    &-link {
      font-size: 12px;
      font-weight: 600;

      &:hover {
        svg {
          fill: $main-first-color;
        }
      }

      svg {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        transition: $transition-base;
      }
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 300%;
    height: 1px;
    background: #F0F0F0;
    transform: translateX(-50%);
  }
}

.header-content-wrap {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.logo {
  &__pic {
    img {
    }
  }
}

.header-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 10px 0;

  &__logo {
    margin-right: 40px;

    .logo__pic {
      img {
      }
    }
  }

  &__menu {
    position: fixed;
    top: -100%;
    left: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    padding: 60px 30px 30px;
    margin: 0;
    background: white;
    transition: $transition-base;
    z-index: 1;

    &.active {
      top: 0;
      left: 0;
    }

    &-switch {
      position: relative;
      display: inline-block;
      width: 40px;
      height: 40px;
      padding: 0;
      border: none;
      border-radius: 5px;
      background: none;
      z-index: 2;

      &::before, &::after {
        content: '';
        position: absolute;
        top: 25%;
        left: 50%;
        width: 30px;
        height: 2px;
        border-radius: 5px;
        background: $text-color;
        transform: translate(-50%, -50%);
        transition: $transition-base;
      }

      &::after {
        top: 75%;
      }

      &-line {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 2px;
        border-radius: 5px;
        background: $text-color;
        transform: translate(-50%, -50%);
        transition: $transition-base;
      }

      &.active {

        &::before {
          top: 20%;
          width: 20px;
          transform-origin: 0 0;
          transform: translate(-65%, -50%) rotate(45deg);
        }

        &::after {
          top: 55%;
          width: 20px;
          transform-origin: 0 0;
          transform: translate(5%, -50%) rotate(45deg);
        }

        .header-content__menu-switch-line {
          width: 40px;
          transform: translate(-50%, 50%) rotate(-45deg);
        }
      }
    }

    &-item {
      margin: 0 0 20px;

      &.active {
        &::after {
          content: '';
          position: absolute;
          bottom: -30px;
          left: 0;
          width: 100%;
          height: 3px;
          background: $primary;
        }
      }

      &.dropdown-wrap {
        .header-content__menu-link {
          &::after {
            content: '';
            display: inline-block;
            border-width: 5px 3px 0;
            border-style: solid;
            border-color: $text-color transparent transparent;
            margin: 0 0 3px 5px;
            transform: rotate(-90deg);
            transition: $transition-base;
          }
        }
      }
    }

    &-link {
      font-weight: 600;
    }

    &-dropdown {
      display: none;
      min-width: 265px;
      padding: 30px;
      margin: 0;
      background: white;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);

      &-item {}

      &-link {}
    }
  }

  &__tools {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
    margin: 20px 0 0;
  }

  &__search {
    flex: 1 1 auto;

    &-label {
      position: relative;
      width: 90%;
      margin: 0;

      svg {
        position: absolute;
        top: 50%;
        right: 10px;
        width: 20px;
        height: 20px;
        transform: translateY(-50%);
      }
    }

    &-input {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 3px;
      background: #f8f8f8;
    }
  }

  &__languages {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    &-switch {
      position: relative;
      margin: 0 13px 0 0;
      font-weight: 500;
      text-transform: uppercase;

      &:not(:first-child) {
        margin: 0 13px;

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          right: calc(100% + 13px);
          width: 1px;
          height: 100%;
          background: #cecece;
          transform: translateY(-50%);
        }
      }

      &:last-child {
        margin: 0 0 0 13px;
      }

      &.active {
        color: #cecece;
        cursor: default;
      }
    }
  }
}