/*************************************************
****************** MEDIA STYLES ******************
*************************************************/
// min-width
@media screen and (min-width: 320px) {}
@include media-breakpoint-up(sm) {
  .background-lines {
    max-width: 510px;
  }
}
@include media-breakpoint-up(md) {
  .background-lines {
    max-width: 690px;

    &__line {
      flex-basis: 33.33%;

      &:nth-last-child(2) {
        display: block;
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .background-lines {
    max-width: 930px;

    &__line {
      flex-basis: 25%;

      &:nth-last-child(2), &:nth-last-child(1) {
        display: block;
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  .background-lines {
    max-width: 1110px;
  }
}

@include media-breakpoint-up(xxl) {
  .background-lines {
    max-width: 1280px;
  }
}

// max-width
@include media-breakpoint-down(lg) {}
@include media-breakpoint-down(md) {}
@include media-breakpoint-down(sm) {}
@include media-breakpoint-down(xs) {}
@media screen and (max-width: 320px) {}
