/*************************************************
****************** MEDIA STYLES ******************
*************************************************/
// min-width
@media screen and (min-width: 320px) {}
@include media-breakpoint-up(sm) {
  .background-lines {
    max-width: 510px;
  }

  .sup-title {
    font-size: 24px;
  }

  .title {
    font-size: 54px;
  }

  .section-head {
    &.section-head_sm {
      .head-content {
        padding: 168px 0;

        &__title {
          font-size: 54px;
        }
      }
    }
  }

  .home-content {
    &__title {
      font-size: 60px;
    }

    &__bottom {
      .btn-link {
        margin: 0 0 0 125px;
      }
    }
  }

  .our-clients {
    &__box {
      &-title {
        font-size: 24px;
      }
    }
  }

  .request {
    &__pic {
      margin: 0 0 -223px;
    }

    &__form {
      padding: 30px;
    }
  }

  .service {
    &__box {
      &:last-child {
        padding: 0;
      }
    }
  }

  .category {
    &__card {
      flex: 0 1 50%;
      background: none;
    }
  }

  .blog {
    &__card {
      flex: 1 1 50%;
      max-width: 50%;
      border: none !important;
      background: none;
    }
  }
}
@include media-breakpoint-up(md) {
  .background-lines {
    max-width: 690px;

    &__line {
      flex-basis: 33.33%;

      &:nth-last-child(2) {
        display: block;
      }
    }
  }

  .style-list {
    li {
      &::before {
        margin-right: 20px;
      }
    }
  }

  .header-content {
    &__logo {
      order: 0;
    }

    &__menu {
      &-wrap {
        order: 2;
      }
    }

    &__tools {
      flex: 1 1 50%;
      order: 1;
      width: auto;
      margin: 0;
      padding-right: 40px;
    }
  }

  .home-content {
    &__title {
      font-size: 81px;
    }
  }

  .about-company {
    &__slide {
      img {
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .our-clients {
    &__box {
      padding: 30px;
    }
  }

  .seo-block {
    padding: 66px;
  }

  .service {
    &__box {
      &:last-child {
        padding: 30px;
      }
    }
  }

  .advantage {
    &__box {
      &-name {
        font-size: 20px;
      }
    }
  }

  .category {
    border-top: 1px solid #f0f0f0;

    &__card {
      flex: 0 1 33.333%;
      border: none;
      border-bottom: 1px solid #f0f0f0;
      margin: 0 !important;
    }
  }

  .blog {
    &__card {
      flex: 1 1 33.333%;
      max-width: 33.333%;

      &-title {
        font-size: 18px;
      }
    }
  }

  .page-404 {
    margin: 150px auto 0;

    svg {
      width: 535px;
      height: 225px;
    }

    p {
      margin: 60px 0 0;
    }
  }

  .footer-content {
    &__nav {
      width: 50%;
    }
  }
}
@include media-breakpoint-up(lg) {
  .border {
    &-left {
      &-lg-0 {
        border-left: none !important;
      }
    }
  }

  .background-lines {
    max-width: 930px;

    &__line {
      flex-basis: 25%;

      &:nth-last-child(2), &:nth-last-child(1) {
        display: block;
      }
    }
  }

  .header-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 14px 0;

    &__info {
      width: auto;
      margin: 0;
      align-items: flex-start;

      &-text {
        margin: 0;
        font-size: 13px;
      }
    }

    &__contact {
      width: auto;
      font-size: 14px;

      &-item {
        &:not(:last-child) {
          margin: 0 34px 0 0;
        }
      }

      &-link {
        font-size: 14px;
      }
    }
  }

  .section {
    &-about-company {
      padding: 190px 0;

      &__bg {
        position: absolute;
        top: 75px;
        right: 6%;
        left: auto;
        transform: none;

        img {
          width: 1082px;
          height: 724px;
        }
      }
    }
    &-our-clients {
      padding: 190px 0;
      background: $section-bg;
    }
    &-our-services {
      padding: 190px 0;
    }
    &-request {
      padding: 190px 0;
      background: $section-bg;
    }
    &-projects {
      padding: 190px 0;
    }
    &-our-partners {
      padding: 190px 0;
      background: $section-bg;
    }
    &-reviews {
      padding: 190px 0;
    }
    &-seo {
      padding: 0 0 190px;
    }
    &-head {
      height: 689px;

      &_sm {
        .head-content__title {
          line-height: 74px;
        }
      }
    }
    &-service-in-numbers {
      padding: 190px 0;
    }
    &-advantage {
      padding: 190px 0;
    }
    &-director {
      padding: 190px 0;
    }
    &-gallery {
      padding: 190px 0;
    }
    &-achievements {
      padding: 190px 0;
    }
    &-build-achievements {
      padding: 190px 0;
    }
    &-build-benefits {
      padding: 190px 0;
    }
    &-gratitude {
      padding: 190px 0;
    }
    &-price {
      padding: 190px 0;
    }
    &-faq {
      padding: 190px 0;
    }
    &-video {
      padding: 190px 0;
    }
    &-build-way {
      padding: 190px 0;
    }
    &-build-varieties {
      padding: 190px 0;
    }
    &-build-types {
      padding: 190px 0;
    }
    &-objects {
      padding: 190px 0;
    }
    &-blog {

    }
    &-article {

    }
  }

  .home-content {
    padding: 200px 0 325px;

    &__title {
      line-height: 110px;
    }
  }

  .our-services {
    &__box {
      padding: 30px;

      &-title {
        margin: 0 0 30px;
        font-size: 24px;
      }
    }
  }

  .service {
    border: 1px solid #f0f0f0;

    &__box {
      flex: 1 1 25%;
      width: 25%;
      border: none;
      margin: 0;
      background: none;

      &:last-child {
        padding: 30px;
      }
    }
  }

  .advantage {
    &__box {
      height: 100%;

      &-name {
        font-size: 24px;
      }
    }
  }

  .category {
    &__card {
      flex: 0 1 25%;
      padding: 30px;
    }
  }

  .blog {
    &__card {
      flex: 1 1 25%;
      max-width: 25%;
    }
  }

  .build-benefits {
    &__box {
      padding: 30px;

      &-number {
        flex: 0 0 80px;
        width: 80px;
        height: 80px;
        margin-right: 30px;
      }

      &-name {
        flex: 1 1 70%;
      }
    }
  }

  .faq {
    &__title {
      margin: 0;
    }
  }

  footer.footer {
    padding: 85px 0 40px;

    .logo {
      margin-bottom: 80px;
    }
  }

  .footer-content {
    flex-direction: row;

    &__column {
      align-items: stretch;
      align-content: stretch;
    }

    &__social {
      align-items: flex-start;
      align-content: flex-start;
    }

    &__nav {
      align-items: stretch;
      width: auto;
      height: auto;
    }
  }
}
@include media-breakpoint-up(xl) {
  .background-lines {
    max-width: 1110px;
  }

  .btn {
    &-primary {
      font-size: 16px;
    }
  }

  .header-top {
    &__info {
      flex-direction: row;
      align-items: center;

      &-text {
        &:not(:last-child) {
          margin: 0 50px 0 0;
        }
      }
    }

    &__contact {
      width: auto;
      font-size: 14px;

      &-item {
        &:not(:last-child) {
          margin: 0 68px 0 0;
        }
      }
    }
  }

  .our-partners {
    &__slider {
      padding: 0 100px;
    }
  }

  .advantage {
    &__box {
      height: auto;
    }

    &__bg {
      &-image {
        position: absolute;
        top: 25px;
        right: 15px;
        display: block;
        width: 560px;
        height: 600px;
      }
    }
  }

  .blog {
    &__card {
      flex: 1 1 25%;
      max-width: 25%;

      &-title {
        font-size: 24px;
      }
    }
  }
}
@include media-breakpoint-up(xxl) {
  .background-lines {
    max-width: 1280px;
  }

  .header-content {
    &__menu {
      position: static;
      flex-direction: row;
      padding: 0;
      background: none;

      &-wrap {
        order: 1;
      }

      &-item {
        position: relative;
        margin: 0;

        &:not(:last-child) {
          margin-right: 25px;
        }

        &.dropdown-wrap {
          .header-content__menu-link {
            &::after {
              transform: rotate(0);
            }
          }
        }

        &:hover {
          .header-content__menu {
            &-link {
              &::after {
                transform: rotate3d(1, 0, 0, 180deg);
              }
            }
            &-dropdown {
              opacity: 1;
              visibility: visible;
              transform: translate(-50%, 0%) rotate3d(0, 0, 0, 90deg);
              z-index: 1;
            }
          }
        }
      }

      &-dropdown {
        position: absolute;
        top: calc(100% + 20px);
        left: 50%;
        display: block;
        min-width: 265px;
        padding: 30px;
        margin: 0;
        opacity: 0;
        visibility: hidden;
        background: white;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
        transform: translate(-50%, -25%) rotate3d(1, 0, 0, 90deg);
        transition: $transition-base;
        transition-delay: 0.3s;
        will-change: transform;
        z-index: -1;

        &::before {
          content: '';
          position: absolute;
          top: -8px;
          left: 50%;
          border-width: 0 8px 8px;
          border-style: solid;
          border-color: transparent transparent $main-first-color;
          transform: translate(-50%, 0);
          transition: $transition-base;
        }

        &-item {
          &:not(:last-child) {
            margin-bottom: 20px;
          }
        }

        &-link {
          font-weight: 600;
        }
      }

      &-switch {
        display: none;
      }
    }

    &__tools {
      order: 2;
      flex: 0 0 auto;
      padding: 0;
    }

    &__search {
      flex: 0 0 auto;
      max-width: 180px;
      margin-right: 40px;

      &-label {
        width: auto;
      }
    }

    &__languages {
      flex: 0 0 auto;
    }
  }

  .gallery {
    //display: flex;
    //flex-direction: row;
    //flex-wrap: wrap;
    //justify-content: space-between;
    //align-items: stretch;
    //align-content: stretch;

    &__box {
      flex: 1 1 33.333%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      align-content: flex-start;
      max-width: 400px;
    }

    &__pic {
      display: block;
      width: 100%;
      max-width: 180px;
      height: 100%;
      max-height: 240px;
      //margin: 0 0 40px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &_vertical {
        width: 100%;
        max-width: 400px;
        height: 520px;
        max-height: 520px;
        //margin: 0;
      }

      &_horizontal {
        width: 100%;
        max-width: 400px;
        height: 100%;
        //max-height: 240px;
      }
    }
  }

  .page-404 {
    margin: 220px auto 0;
    border-left: 0;
  }
}

// max-width
@include media-breakpoint-down(xxl) {}
@include media-breakpoint-down(xl) {}
@include media-breakpoint-down(lg) {}
@include media-breakpoint-down(md) {}
@include media-breakpoint-down(sm) {}
@include media-breakpoint-down(xs) {}
@media screen and (max-width: 320px) {}
