<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Blog | Article</title>
</head>
<body class="loaded">
<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header">
        <div class="header-top-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="header-top">
                            <div class="header-top__info">
                                <span class="header-top__info-text">Будівельна ліцензія: 2013048897 від 30.03.18</span>
                                <span class="header-top__info-text">Вул. Набережно-хрещатицька 11, м. Київ, 03800</span>
                            </div>

                            <ul class="header-top__contact">
                                <li class="header-top__contact-item">
                                    <a href="#contact" class="header-top__contact-link">
                                        <svg>
                                            <use xlink:href="img/spritemap.svg#sprite-telegram"></use>
                                        </svg>
                                        Telegram</a>
                                </li>
                                <li class="header-top__contact-item">
                                    <a href="#contact" class="header-top__contact-link">
                                        <svg>
                                            <use xlink:href="img/spritemap.svg#sprite-viber"></use>
                                        </svg>
                                        Viber</a>
                                </li>
                                <li class="header-top__contact-item">
                                    <a href="tel:+380503988898" class="header-top__contact-link">(050) 398 88 98</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-content-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="header-content">
                            <a href="/" class="header-content__logo logo">
                                <picture class="logo__pic">
                                    <img src="<%= require('./img/logo.svg') %>" title="" alt="">
                                </picture>
                            </a>

                            <div class="header-content__menu-wrap">
                                <button type="button" class="header-content__menu-switch">
                                    <span class="header-content__menu-switch-line"></span>
                                </button>

                                <ul class="header-content__menu">
                                    <li class="header-content__menu-item">
                                        <a href="#menu-link" class="header-content__menu-link">Товари</a>

                                        <ul class="header-content__menu-dropdown">
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Асфальтобетонні суміші</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Бетонні суміші</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Залізобетонні вироби</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Кладочні матеріали</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Пиломатеріали матеріали</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Сипучі матеріали</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Фасовані матеріали</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Цемент</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Дроблений бетон</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Цегляний бій</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="header-content__menu-item">
                                        <a href="#menu-link" class="header-content__menu-link">Спецтехніка</a>

                                        <ul class="header-content__menu-dropdown">
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Автобетононасоси</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Екскаватори</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Бульдозери</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Автогрейдери</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Навантажувачі</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Міні навантажувачі</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Катки</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Асфальтоукладчики</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Довгоміри і панелевози</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Автокрани</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Маніпулятори</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Автовишки</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="header-content__menu-item active">
                                        <a href="#menu-link" class="header-content__menu-link">Будівельні роботи</a>

                                        <ul class="header-content__menu-dropdown">
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Асфальтобетонні роботи</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Благоустрій території</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Снігоприбиральні роботи</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Снігоприбиральні роботи</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Вивіз буд сміття</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Розробка і риття котлованів</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Демонтаж споруд</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Монолітні роботи</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Швидкомонтовані будівлі</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Залізничні перевезення</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="header-content__menu-item">
                                        <a href="#menu-link" class="header-content__menu-link">Об’єкти</a>
                                    </li>

                                    <li class="header-content__menu-item">
                                        <a href="#menu-link" class="header-content__menu-link">Про нас</a>

                                        <ul class="header-content__menu-dropdown">
                                            <li class="header-content__menu-dropdown-item"><a href="dropdown-link"
                                                                                              class="header-content__menu-dropdown-link">Сертификаты</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item"><a href="dropdown-link" class="header-content__menu-dropdown-link">Что-то
                                                ещё</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="header-content__menu-item">
                                        <a href="#menu-link" class="header-content__menu-link">Акції</a>
                                    </li>

                                    <li class="header-content__menu-item">
                                        <a href="#menu-link" class="header-content__menu-link">Контакти</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="header-content__tools">
                                <div class="header-content__search">
                                    <label class="header-content__search-label">
                                        <input type="search" class="header-content__search-input" placeholder="Пошук">
                                        <svg>
                                            <use xlink:href="img/spritemap.svg#sprite-search"></use>
                                        </svg>
                                    </label>
                                </div>

                                <div class="header-content__languages">
                                    <a href="#lang" class="header-content__languages-switch active">ua</a>
                                    <a href="#lang" class="header-content__languages-switch">ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">
        <section class="section section-head section-head_sm">
            <div class="section-bg">
                <picture>
                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/home-bg06.png') %>" class="section-bg__img" title="" alt="">
                </picture>
            </div>

            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Головна</a></li>
                        <li class="breadcrumb-item"><a href="#">Акції</a></li>
                        <li class="breadcrumb-item">Сколько тонн щебня в одном кубометре</li>
                    </ol>
                </nav>

                <div class="head-content">
                    <h1 class="head-content__title">Что лучше отсев или песок для бетона</h1>
                </div>
            </div>
        </section>

        <section class="section section-article">
            <div class="article container">
                <div class="row">
                    <div class="article-content col-12">
                        <p>Средняя стоимость гранитного отсева с карьера – 60 грн/т, доставка отсева осуществляется 30 т самосвалами, цена доставки отсева в Киев – 160 грн/т.</p>
                        <p>Средняя стоимость речного песка – 140 грн/т, доставка речного песка по Киеву и Киевской области осуществляется 30 т самосвалами, цена доставки песка по
                            Киеву и Киевской области – от 40 – 100 грн/т.</p>
                        <p>Что лучше: применение отсева или песка в производстве бетонов? Этот вопрос насущный для малоопытных строителей. Щебень, песок, вода и цемент — вот
                            составляющие для создания бетона. Когда вы сами готовите эту бетонную смесь имеет место вопрос: допускается ли возможность использования отсева взамен
                            песка? Отсев получается при размалывании горной породы. В сущности, это остатки, которые получаются при изготовлении щебня, цена этих отходов намного
                            ниже песка. Специалисты не советуют полную замену песка на отсев. Считается самым лучшим вариантом, смесь песка оставить неизменной, а отсев включить в
                            состав дробленого материала вместо щебня. Такой замес удешевляет затраты на производство и дает возможность получить первосортное, долговечное сырье. Не
                            стоит забывать, что свойство готовой продукции в большинстве случаев зависит от состава смеси и чистоты материала отсева.</p>

                        <h2>Что лучше применять</h2>
                        <p>Так все же, что лучше применять — песок или отсев для бетона? Попробуем разобраться в этом вопросе. Начнем с того, что такое отсев?</p>
                        <p>Отсев – этот материал добывается из горных пород, которые проходят не одну стадию переработки: добыча, процесс измельчения, промывка и сортировка. Для
                            этого берут гранит, который ценится в строительных работах.
                            Есть множество сортов материала. Гранитный и бетонный считаются нужными и популярными.</p>

                        <div class="article-content__row border row">
                            <div class="article-content__col col-sm-6 bg-white border-right">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/article01.png') %>" alt="" title="">
                                </picture>
                            </div>

                            <div class="article-content__col col-sm-6 bg-white">
                                <picture>
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/article02.png') %>" alt="" title="">
                                </picture>
                            </div>
                        </div>

                        <h3>Гранитный отсев</h3>
                        <p>Отсев проходит множество стадий обработки, его дробят, потом просеивают через большое сито. В конце происходит процесс сортировки, и материал
                            отправляется на место реализации. Если сравнивать с нечто похожими продуктами, стоимость выше, но имеет отменные показатели.</p>

                        <h3>Бетонный отсев</h3>
                        <p>Крошка из бетона не требует производственной добычи, достаточно взять старые, не нужные бетонные конструкции и разломать их на мелкие фрагменты. Этот
                            бюджетный материал часто применяют при строительстве дорожного полотна, используют при покрытии площадей, делают асфальтобетон.</p>

                        <h4>Область применения данного материала широкая:</h4>
                        <p>Крошка из бетона не требует производственной добычи, достаточно взять старые, не нужные бетонные конструкции и разломать их на мелкие фрагменты. Этот
                            бюджетный материал часто применяют при строительстве дорожного полотна, используют при покрытии площадей, делают асфальтобетон.</p>

                        <ul>
                            <li>производство железобетонных изделий;</li>
                            <li>заполнение фундамента</li>
                            <li>настилка дорожного покрытия</li>
                            <li>изготовление стройматериалов, цемента, плитки для тротуаров</li>
                        </ul>

                        <p>Окрашенный песок широко используют ландшафтные дизайнеры. Цена на песок ниже чем на гранитный отсев. Строительный песок можно купить с доставкой в Киеве.
                            Гранитный отсев не очень годится для мелких ремонтных работ, лучше его использовать при производстве одежды для магистралей, стройматериалов. Это
                            достаточно дорогой продукт, потому что для его добычи используют большое количество разных устройств и механизмов. Песок же не такой дорогостоящий
                            строительный материал, его можно приобретать в больших количествах, тоннами.
                            Параметры надежности, долговечности и у одного, и у другого материала превосходные. Конструкции стоят годами, Сооружения держатся годами, сохраняют свои
                            характеристики, добротный внешний облик. Для того, чтобы понять какой вариант подходит вам больше, профессионалы предлагают сделать некоторое количество
                            черновых вариантов смесей и посмотреть, что получилось.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-content">
                        <div class="footer-content__column">
                            <a href="/" class="logo">
                                <picture class="logo__pic">
                                    <img src="<%= require('./img/logo.svg') %>" title="" alt="">
                                </picture>
                            </a>

                            <div class="footer-content__social">
                                <p class="footer-content__social-text">Наші соцмережі</p>

                                <div class="footer-content__social-container">
                                    <a href="#instagram" class="footer-content__social-link">
                                        <svg>
                                            <use xlink:href="img/spritemap.svg#sprite-insta"></use>
                                        </svg>
                                    </a>
                                    <a href="#facebook" class="footer-content__social-link">
                                        <svg>
                                            <use xlink:href="img/spritemap.svg#sprite-facebook"></use>
                                        </svg>
                                    </a>
                                    <a href="#youtube" class="footer-content__social-link">
                                        <svg>
                                            <use xlink:href="img/spritemap.svg#sprite-youtube"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="footer-content__column">
                            <p class="footer-content__column-title">Категорії</p>

                            <nav class="footer-content__nav">
                                <a href="#f-nav" class="footer-content__nav-link">Послуги</a>
                                <a href="#f-nav" class="footer-content__nav-link">Товари</a>
                                <a href="#f-nav" class="footer-content__nav-link">Акції</a>
                                <a href="#f-nav" class="footer-content__nav-link">Об’єкти</a>
                                <a href="#f-nav" class="footer-content__nav-link">Про нас</a>
                                <a href="#f-nav" class="footer-content__nav-link">Сертифікати</a>
                                <a href="#f-nav" class="footer-content__nav-link">Ліцензії</a>
                                <a href="#f-nav" class="footer-content__nav-link">Контакти</a>
                            </nav>
                        </div>

                        <div class="footer-content__column">
                            <p class="footer-content__column-title">Адреса та зв'язок</p>

                            <ul class="footer-content__contacts">
                                <li class="footer-content__contacts-item">
                                    <svg>
                                        <use xlink:href="img/spritemap.svg#sprite-location"></use>
                                    </svg>
                                    <span class="footer-content__contacts-text">Вул. Набережно-хрещатицька 11, м. Київ, 03800</span>
                                </li>

                                <li class="footer-content__contacts-item">
                                    <svg>
                                        <use xlink:href="img/spritemap.svg#sprite-call"></use>
                                    </svg>
                                    <a href="tel:+380503988898" class="footer-content__contacts-text">(050) 398 88 98</a>
                                </li>

                                <li class="footer-content__contacts-item">
                                    <svg>
                                        <use xlink:href="img/spritemap.svg#sprite-email"></use>
                                    </svg>
                                    <a href="mailto:aby5000701@gmail.com" class="footer-content__contacts-text">aby5000701@gmail.com</a>
                                </li>

                                <li class="footer-content__contacts-item">
                                    <svg>
                                        <use xlink:href="img/spritemap.svg#sprite-telegram"></use>
                                    </svg>
                                    <a href="#telegram" class="footer-content__contacts-text">Telegram</a>
                                </li>

                                <li class="footer-content__contacts-item">
                                    <svg>
                                        <use xlink:href="img/spritemap.svg#sprite-viber"></use>
                                    </svg>
                                    <a href="#viber" class="footer-content__contacts-text">Viber</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="copyright">© Альянс Будівельників України</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER END -->

    <div class="background-lines">
        <span class="background-lines__line"></span>
        <span class="background-lines__line"></span>
        <span class="background-lines__line"></span>
        <span class="background-lines__line"></span>
    </div>
</div>

<div class="icon-load">
    <picture><img src="<%= require('./img/loader.svg') %>" alt="pre-loader"></picture>
</div>
<!-- BODY END   -->
</body>
</html>
