<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Главная</title>
</head>
<body class="loaded">
<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header">
        <div class="header-top-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="header-top">
                            <div class="header-top__info">
                                <span class="header-top__info-text">Будівельна ліцензія: 2013048897 від 30.03.18</span>
                                <span class="header-top__info-text">Вул. Набережно-хрещатицька 11, м. Київ, 03800</span>
                            </div>

                            <ul class="header-top__contact">
                                <li class="header-top__contact-item">
                                    <a href="#contact" class="header-top__contact-link">
                                        <svg>
                                            <use xlink:href="img/spritemap.svg#sprite-telegram"></use>
                                        </svg>
                                        Telegram</a>
                                </li>
                                <li class="header-top__contact-item">
                                    <a href="#contact" class="header-top__contact-link">
                                        <svg>
                                            <use xlink:href="img/spritemap.svg#sprite-viber"></use>
                                        </svg>
                                        Viber</a>
                                </li>
                                <li class="header-top__contact-item">
                                    <a href="tel:+380503988898" class="header-top__contact-link">(050) 398 88 98</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-content-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="header-content">
                            <a href="/" class="header-content__logo logo">
                                <picture class="logo__pic">
                                    <img src="<%= require('./img/logo.svg') %>" title="" alt="">
                                </picture>
                            </a>

                            <div class="header-content__menu-wrap">
                                <button type="button" class="header-content__menu-switch">
                                    <span class="header-content__menu-switch-line"></span>
                                </button>

                                <ul class="header-content__menu">
                                    <li class="header-content__menu-item">
                                        <a href="#menu-link" class="header-content__menu-link">Товари</a>

                                        <ul class="header-content__menu-dropdown">
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Асфальтобетонні суміші</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Бетонні суміші</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Залізобетонні вироби</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Кладочні матеріали</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Пиломатеріали матеріали</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Сипучі матеріали</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Фасовані матеріали</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Цемент</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Дроблений бетон</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Цегляний бій</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="header-content__menu-item">
                                        <a href="#menu-link" class="header-content__menu-link">Спецтехніка</a>

                                        <ul class="header-content__menu-dropdown">
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Автобетононасоси</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Екскаватори</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Бульдозери</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Автогрейдери</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Навантажувачі</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Міні навантажувачі</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Катки</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Асфальтоукладчики</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Довгоміри і панелевози</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Автокрани</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Маніпулятори</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Автовишки</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="header-content__menu-item">
                                        <a href="#menu-link" class="header-content__menu-link">Будівельні роботи</a>

                                        <ul class="header-content__menu-dropdown">
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Асфальтобетонні роботи</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Благоустрій території</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Снігоприбиральні роботи</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Снігоприбиральні роботи</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Вивіз буд сміття</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Розробка і риття котлованів</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Демонтаж споруд</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Монолітні роботи</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Швидкомонтовані будівлі</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Залізничні перевезення</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="header-content__menu-item">
                                        <a href="#menu-link" class="header-content__menu-link">Об’єкти</a>
                                    </li>

                                    <li class="header-content__menu-item">
                                        <a href="#menu-link" class="header-content__menu-link">Про нас</a>

                                        <ul class="header-content__menu-dropdown">
                                            <li class="header-content__menu-dropdown-item"><a href="dropdown-link"
                                                                                              class="header-content__menu-dropdown-link">Сертификаты</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item"><a href="dropdown-link" class="header-content__menu-dropdown-link">Что-то
                                                ещё</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="header-content__menu-item">
                                        <a href="#menu-link" class="header-content__menu-link">Акції</a>
                                    </li>

                                    <li class="header-content__menu-item">
                                        <a href="#menu-link" class="header-content__menu-link">Контакти</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="header-content__tools">
                                <div class="header-content__search">
                                    <label class="header-content__search-label">
                                        <input type="search" class="header-content__search-input" placeholder="Пошук">
                                        <svg><use xlink:href="img/spritemap.svg#sprite-search"></use></svg>
                                    </label>
                                </div>

                                <div class="header-content__languages">
                                    <a href="#lang" class="header-content__languages-switch active">ua</a>
                                    <a href="#lang" class="header-content__languages-switch">ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">
        <section class="section section-home">
            <div class="section-home__video">
                <video autoplay="autoplay" loop="loop" width="100%" height="100%">
                    <source src="<%= require('./video/background-video.mp4') %>" type="video/mp4">
                </video>
            </div>

            <div class="container">
                <div class="home-content">
                    <p class="home-content__text">Будівельні матеріали та послуги</p>
                    <h1 class="home-content__title">Альянс Будівельників України</h1>

                    <div class="home-content__bottom row">
                        <div class="col-12 col-sm-auto">
                            <button class="btn btn-lg btn-primary">Зв'язок</button>
                        </div>
                        <div class="col-12 col-sm-auto">
                            <a href="#catalog" class="btn-link">Каталог
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-btn-arrow"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-about-company">
            <picture class="section-about-company__bg">
                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/map.svg') %>" title="" alt="">
            </picture>
            <div class="about-company container">
                <div class="row">
                    <div class="col-lg-6">
                        <p class="sup-title">Про компанію</p>
                        <p class="about-company__title title">Нам довіряють</p>
                        <p class="about-company__text">“Альянс Будівельників України” це потужний логістичний холдинг, що виконує роботу «під ключ», надає широкий
                            асортимент, інноваційні системні рішення і постійну підтримку замовників.</p>
                        <p class="about-company__text">У наших клієнтів немає необхідності звертатися за додатковими послугами до інших підрядників, оскільки ми
                            використовуємо обладнання та витратні матеріали провідних світових брендів.</p>

                        <button class="about-company__video-btn">
                            <svg>
                                <use xlink:href="img/spritemap.svg#sprite-play"></use>
                            </svg>
                        </button>
                    </div>

                    <div class="col-lg-6 pl-lg-0">
                        <div class="about-company__slider auto-slider swiper-container">
                            <div class="swiper-wrapper">
                                <!-- Slides -->
                                <div class="about-company__slide swiper-slide">
                                    <picture>
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/company-slide01.png') %>" alt="example"
                                             title="example">
                                    </picture>

                                    <div class="about-company__slide-label">
                                        <svg>
                                            <use xlink:href="img/spritemap.svg#sprite-excavator"></use>
                                        </svg>
                                        <p class="about-company__slide-label-text">Видобуваємо з власних кар'єрів</p>
                                    </div>
                                </div>

                                <div class="about-company__slide swiper-slide">
                                    <picture>
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/company-slide02.png') %>" alt="example"
                                             title="example">
                                    </picture>

                                    <div class="about-company__slide-label">
                                        <svg>
                                            <use xlink:href="img/spritemap.svg#sprite-storage"></use>
                                        </svg>
                                        <p class="about-company__slide-label-text">Маємо власні перевалочні бази</p>
                                    </div>
                                </div>

                                <div class="about-company__slide swiper-slide">
                                    <picture>
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/company-slide03.png') %>" alt="example"
                                             title="example">
                                    </picture>

                                    <div class="about-company__slide-label">
                                        <svg>
                                            <use xlink:href="img/spritemap.svg#sprite-engineers"></use>
                                        </svg>
                                        <p class="about-company__slide-label-text">Кваліфікована команда інженерів і логістів</p>
                                    </div>
                                </div>

                                <div class="about-company__slide swiper-slide">
                                    <picture>
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/company-slide04.png') %>" alt="example"
                                             title="example">
                                    </picture>

                                    <div class="about-company__slide-label">
                                        <svg>
                                            <use xlink:href="img/spritemap.svg#sprite-truck"></use>
                                        </svg>
                                        <p class="about-company__slide-label-text">Великий вибір спецтехніки</p>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="swiper-pagination"></div>

                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>

                            <div class="swiper-scrollbar"></div>-->
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-our-clients">
            <div class="our-clients container">
                <div class="row">
                    <div class="col-lg-9">
                        <p class="sup-title">Нашим клієнтам</p>
                        <p class="our-clients__title title">Чим ми можемо зацікавити</p>
                    </div>

                    <div class="col-lg-3 align-self-center">
                        <button class="btn btn-lg btn-primary">Зв'язатися з менеджером</button>
                    </div>

                    <div class="col-12 mt-5 mt-lg-0">
                        <div class="row">
                            <div class="col-lg-4 mb-4 mb-lg-0">
                                <div class="our-clients__box">
                                    <p class="our-clients__box-title">Пропозиція для наших клієнтів приватних замовників</p>

                                    <ul class="our-clients__box-list style-list">
                                        <li class="our-clients__box-list-item">Цілодобова оперативна доставка продукції від кар'єру до виробничого комплексу або
                                            будівельного майданчика
                                        </li>
                                        <li class="our-clients__box-list-item">Поставка нерудних матеріалів будь-яких фракцій, порід і обсягу на всій території України;
                                        </li>
                                        <li class="our-clients__box-list-item">Докладний попередній розрахунок тарифів</li>
                                        <li class="our-clients__box-list-item">Моніторинг вантажу в дорозі</li>
                                        <li class="our-clients__box-list-item">Оптимізація маршрутів і схем транспортування; можливість зміни маршруту під час
                                            транспортування
                                        </li>
                                        <li class="our-clients__box-list-item">Різні системи оплати</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-4 mb-4 mb-lg-0">
                                <div class="our-clients__box">
                                    <p class="our-clients__box-title">Дорожнім організаціям, забудовникам, теплоенерго, водоканалам</p>

                                    <ul class="our-clients__box-list style-list">
                                        <li class="our-clients__box-list-item">Цілодобова оперативна доставка продукції від кар'єру до дорожньої ділянки або об'єкта</li>
                                        <li class="our-clients__box-list-item">Поставка нерудних матеріалів будь-якої породи і обсягу на всій території Києва та області
                                        </li>
                                        <li class="our-clients__box-list-item">Транспортування вантажу залізничним і автотранспортом</li>
                                        <li class="our-clients__box-list-item">Докладний попередній розрахунок тарифів і вартості</li>
                                        <li class="our-clients__box-list-item">Моніторинг вантажу в дорозі</li>
                                        <li class="our-clients__box-list-item">Укладення довгострокових договорів на регулярне постачання продукції</li>
                                        <li class="our-clients__box-list-item">Товарне кредитування і гнучка система знижок</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-4 mb-4 mb-lg-0">
                                <div class="our-clients__box">
                                    <p class="our-clients__box-title">Виробникам: ЗБВ, цементу, бетону, асфальту, транспортним компаніям</p>

                                    <ul class="our-clients__box-list style-list">
                                        <li class="our-clients__box-list-item">Додаткові логістичні послуги за домовленістю із замовником</li>
                                        <li class="our-clients__box-list-item">Розширення ринку збуту і доставку продукції в будь-яких напрямках</li>
                                        <li class="our-clients__box-list-item">Забезпечення гарантованих обсягів</li>
                                        <li class="our-clients__box-list-item">Заявки на весь асортимент продукції, що виробляється</li>
                                        <li class="our-clients__box-list-item">Навантаження товару і доставка вантажу кінцевому клієнту нашим власним або орендованим
                                            транспортом
                                        </li>
                                        <li class="our-clients__box-list-item">Персональний супровід кожної заявки</li>
                                    </ul>

                                    <svg>
                                        <use xlink:href="img/spritemap.svg#sprite-strokes-line"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-our-services">
            <div class="our-services container">
                <div class="row">
                    <div class="col">
                        <p class="sup-title">Наші послуги</p>
                        <p class="our-services__title title">Що ми пропонуємо</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-4 mb-md-0">
                        <div class="our-services__box">
                            <p class="our-services__box-title">Поставка будівельних матеріалів</p>

                            <a href="#" class="our-services__box-link btn-link">
                                Товари
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-btn-arrow"></use>
                                </svg>
                            </a>

                            <picture class="our-services__box-pic">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/services01.png') %>" title="" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4 mb-md-0">
                        <div class="our-services__box">
                            <p class="our-services__box-title">Проведення будівельних робіт</p>

                            <a href="#" class="our-services__box-link btn-link">
                                Послуги
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-btn-arrow"></use>
                                </svg>
                            </a>

                            <picture class="our-services__box-pic">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/services02.png') %>" title="" alt="">
                            </picture>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4 mb-md-0">
                        <div class="our-services__box">
                            <p class="our-services__box-title">Надаємо спецтехніку в аренду</p>

                            <a href="#" class="our-services__box-link btn-link">
                                Послуги
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-btn-arrow"></use>
                                </svg>
                            </a>

                            <picture class="our-services__box-pic">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/services03.png') %>" title="" alt="">
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-request">
            <div class="request container">
                <div class="row">
                    <div class="position-relative col-lg-5">
                        <p class="sup-title">Заявка</p>
                        <p class="request__title title">Розрахувати вартість вашого проекту</p>
                        <p class="request__text">Наша компанія чудово знається на оцінці проектів, управлінні та доцільності витрат і оптимальних фінансових умовах для
                            клієнта</p>

                        <svg class="">
                            <use xlink:href="img/spritemap.svg#sprite-strokes-line"></use>
                        </svg>
                    </div>

                    <div class="col-lg-6">
                        <picture class="request__pic">
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/order-img.png') %>" title="" alt="">
                        </picture>

                        <form action="mailto:test@test.test" method="post" class="request__form">
                            <div class="form-group">
                                <label class="col p-0 m-0">
                                    <span class="request__input-name">Iм'я</span>
                                    <input type="text" class="request__input form-control" placeholder="Введіть ваше ім'я">
                                </label>
                            </div>

                            <div class="form-group">
                                <label class="col p-0 m-0">
                                    <span class="request__input-name">Телефон</span>
                                    <input type="tel" class="request__input form-control" placeholder="Ваш номер телефона">
                                </label>
                            </div>

                            <div class="form-group">
                                <label class="col p-0 m-0">
                                    <span class="request__input-name">Email</span>
                                    <input type="email" class="request__input form-control" placeholder="Ваша електронна пошта">
                                </label>
                            </div>

                            <div class="form-group">
                                <label class="col p-0 m-0">
                                    <span class="request__input-name">Тема</span>
                                    <input type="text" class="request__input form-control" placeholder="Тема заявки">
                                </label>
                            </div>

                            <div class="form-group">
                                <label class="col p-0 m-0">
                                    <input type="checkbox" class="request__input request__input_check">
                                    <span class="checkbox-wrap">
                                    <span class="checkbox"></span>
                                    <span class="checkbox-text">Я не робот</span>
                                </span>
                                </label>
                            </div>

                            <input type="submit" value="Замовити дзвінок" class="btn btn-lg btn-primary btn-block">
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-projects">
            <div class="projects container">
                <div class="row">
                    <div class="col-lg-6">
                        <p class="sup-title">Проекти</p>
                        <p class="projects__title title">Зустрічайте наші неймовірні проекти</p>
                        <p class="projects__text">Для великих чи малих проектів, коли ви співпрацюєте з АБУ, ви знаєте, що отримаєте повне рішення. Ми працюємо над тим,
                            щоб забезпечити спрощений і швидкий процес, з універсальністю для досягнення вашого результату</p>
                    </div>

                    <div class="align-self-center col-lg-6 my-5 my-lg-0 text-lg-right">
                        <a href="#" class="projects__link btn-link">
                            Всі об’єкти
                            <svg>
                                <use xlink:href="img/spritemap.svg#sprite-btn-arrow"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="projects__slider-nav swiper-button">
                            <div class="swiper-button-prev">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-arrow_slider"></use>
                                </svg>
                            </div>

                            <div class="swiper-button-next">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-arrow_slider"></use>
                                </svg>
                            </div>
                        </div>

                        <div class="projects__slider slider nav-outside swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#project" class="slide-text">ТРЦ "Ocean Plaza"</a>
                                    <picture>
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/projects01.png') %>" alt="example" title="example">
                                    </picture>
                                </div>

                                <div class="swiper-slide">
                                    <a href="#project" class="slide-text">ТРЦ "Ocean Plaza"</a>
                                    <picture>
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/projects02.png') %>" alt="example" title="example">
                                    </picture>
                                </div>

                                <div class="swiper-slide">
                                    <a href="#project" class="slide-text">ТРЦ "Ocean Plaza"</a>
                                    <picture>
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/projects03.png') %>" alt="example" title="example">
                                    </picture>
                                </div>

                                <div class="swiper-slide">
                                    <a href="#project" class="slide-text">ТРЦ "Ocean Plaza"</a>
                                    <picture>
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/projects04.png') %>" alt="example" title="example">
                                    </picture>
                                </div>

                                <div class="swiper-slide">
                                    <a href="#project" class="slide-text">ТРЦ "Ocean Plaza"</a>
                                    <picture>
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example"
                                             title="example">
                                    </picture>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-our-partners">
            <div class="our-partners container">
                <div class="row">
                    <div class="col">
                        <p class="sup-title">Партнеры</p>
                        <p class="our-partners__title title">Наші замовники і партнери</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="our-partners__slider slider nav-inside swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <picture>
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner01.png') %>" alt="example"
                                             title="example">
                                    </picture>
                                </div>

                                <div class="swiper-slide">
                                    <picture>
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner02.png') %>" alt="example"
                                             title="example">
                                    </picture>
                                </div>

                                <div class="swiper-slide">
                                    <picture>
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner03.png') %>" alt="example"
                                             title="example">
                                    </picture>
                                </div>

                                <div class="swiper-slide">
                                    <picture>
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner04.png') %>" alt="example"
                                             title="example">
                                    </picture>
                                </div>

                                <div class="swiper-slide">
                                    <picture>
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner03.png') %>" alt="example"
                                             title="example">
                                    </picture>
                                </div>

                                <div class="swiper-slide">
                                    <picture>
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner01.png') %>" alt="example"
                                             title="example">
                                    </picture>
                                </div>

                                <div class="swiper-slide">
                                    <picture>
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner02.png') %>" alt="example"
                                             title="example">
                                    </picture>
                                </div>

                                <div class="swiper-slide">
                                    <picture>
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/partner04.png') %>" alt="example"
                                             title="example">
                                    </picture>
                                </div>
                            </div>

                            <div class="swiper-button-prev">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-arrow_slider"></use>
                                </svg>
                            </div>

                            <div class="swiper-button-next">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-arrow_slider"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-reviews">
            <div class="reviews container">
                <div class="row">
                    <div class="col">
                        <p class="sup-title">Відгуки</p>
                        <p class="reviews__title title">Що говорять наші клієнти</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="reviews__slider-nav swiper-button">
                            <div class="swiper-button-prev">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-arrow_slider"></use>
                                </svg>
                            </div>

                            <div class="swiper-button-next">
                                <svg>
                                    <use xlink:href="img/spritemap.svg#sprite-arrow_slider"></use>
                                </svg>
                            </div>
                        </div>

                        <div class="reviews__slider nav-outside swiper-container">
                            <div class="slider-nav swiper-wrapper">
                                <div class="swiper-slide reviews__slide">
                                    <p class="reviews__name">Дмитро Іванов</p>
                                    <p class="reviews__text">Заказывал газоблок для строительства дома. Очень доволен сервисом и качеством обслуживания. Заказ доставлялся
                                        во время сложных погодных условий и ограничений движения транспорта. И даже в таких условиях сотрудники компании смогли обеспечить
                                        своевременную и быструю доставку товара на объект. Рекомендую данную компанию к сотрудничеству</p>
                                </div>

                                <div class="swiper-slide reviews__slide">
                                    <p class="reviews__name">Марина Вовченко</p>
                                    <p class="reviews__text">Нареканий на работу компании нет. Пользуюсь услугами аренды спецтехники. Спасибо менеджеру Артему, который
                                        безпперебойно поставляет технику и профессионально консультирует в ее выборе, тех характеристиках.</p>
                                </div>

                                <div class="swiper-slide reviews__slide">
                                    <p class="reviews__name">Павел Ким</p>
                                    <p class="reviews__text">Это одна из лучших компаний по Аренде техники, поставке материалов. Лучшая цена, пунктуальность, открытость.
                                        Удобная форма и организация оплаты, точность, надёжность. 100%% Рекомендуем !
                                        С уважением, ЖСК Парк.</p>
                                </div>

                                <div class="swiper-slide reviews__slide">
                                    <p class="reviews__name">Марина Вовченко</p>
                                    <p class="reviews__text">Нареканий на работу компании нет. Пользуюсь услугами аренды спецтехники. Спасибо менеджеру Артему, который
                                        безпперебойно поставляет технику и профессионально консультирует в ее выборе, тех характеристиках.</p>
                                </div>

                                <div class="swiper-slide reviews__slide">
                                    <p class="reviews__name">Дмитро Іванов</p>
                                    <p class="reviews__text">Заказывал газоблок для строительства дома. Очень доволен сервисом и качеством обслуживания. Заказ доставлялся
                                        во время сложных погодных условий и ограничений движения транспорта. И даже в таких условиях сотрудники компании смогли обеспечить
                                        своевременную и быструю доставку товара на объект. Рекомендую данную компанию к сотрудничеству</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-seo">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="seo-block">
                            <p class="seo-block__title">Альянс Будівельників України</p>

                            <p class="seo-block__text">надає транспортні послуги вантажоперевезень та оренди будівельної техніки провідних європейських машинобудівників з
                                бездоганною репутацією. Пропонуємо Вам здачу спецтехніки в оренду на різний період часу, як від одного дня, так і на сезон. Весь цей час
                                діє повне сервісне обслуговування.
                            </p>

                            <p class="seo-block__text seo-block__text_lg">На тривалу оренду ми пропонуємо цілу систему знижок!</p>

                            <p class="seo-block__text">Наші фахівці підберуть швидке і максимально вигідне для вас рішення згідно переліку робіт, які необхідно
                                виконати.</p>

                            <ul>
                                <li>самоскиди для перевезення сипучих будматеріалів або вивезення сміття, снігу і т.д .;</li>
                                <li>техніка для роботи із землею і демонтажу різних будівель;</li>
                                <li>доставка, перекачування, заливання бетонну та сумішей;</li>
                                <li>панелевози для доставки залізобетонних панелей;</li>
                                <li>маніпулятори та автокрани для задач з навантаження, розвантаження, монтажу і інших будівельних потреб</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-content">
                        <div class="footer-content__column">
                            <a href="/" class="logo">
                                <picture class="logo__pic">
                                    <img src="<%= require('./img/logo.svg') %>" title="" alt="">
                                </picture>
                            </a>

                            <div class="footer-content__social">
                                <p class="footer-content__social-text">Наші соцмережі</p>

                                <div class="footer-content__social-container">
                                    <a href="#instagram" class="footer-content__social-link">
                                        <svg>
                                            <use xlink:href="img/spritemap.svg#sprite-insta"></use>
                                        </svg>
                                    </a>
                                    <a href="#facebook" class="footer-content__social-link">
                                        <svg>
                                            <use xlink:href="img/spritemap.svg#sprite-facebook"></use>
                                        </svg>
                                    </a>
                                    <a href="#youtube" class="footer-content__social-link">
                                        <svg>
                                            <use xlink:href="img/spritemap.svg#sprite-youtube"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="footer-content__column">
                            <p class="footer-content__column-title">Категорії</p>

                            <nav class="footer-content__nav">
                                <a href="#f-nav" class="footer-content__nav-link">Послуги</a>
                                <a href="#f-nav" class="footer-content__nav-link">Товари</a>
                                <a href="#f-nav" class="footer-content__nav-link">Акції</a>
                                <a href="#f-nav" class="footer-content__nav-link">Об’єкти</a>
                                <a href="#f-nav" class="footer-content__nav-link">Про нас</a>
                                <a href="#f-nav" class="footer-content__nav-link">Сертифікати</a>
                                <a href="#f-nav" class="footer-content__nav-link">Ліцензії</a>
                                <a href="#f-nav" class="footer-content__nav-link">Контакти</a>
                            </nav>
                        </div>

                        <div class="footer-content__column">
                            <p class="footer-content__column-title">Адреса та зв'язок</p>

                            <ul class="footer-content__contacts">
                                <li class="footer-content__contacts-item">
                                    <svg>
                                        <use xlink:href="img/spritemap.svg#sprite-location"></use>
                                    </svg>
                                    <span class="footer-content__contacts-text">Вул. Набережно-хрещатицька 11, м. Київ, 03800</span>
                                </li>

                                <li class="footer-content__contacts-item">
                                    <svg>
                                        <use xlink:href="img/spritemap.svg#sprite-call"></use>
                                    </svg>
                                    <a href="tel:+380503988898" class="footer-content__contacts-text">(050) 398 88 98</a>
                                </li>

                                <li class="footer-content__contacts-item">
                                    <svg>
                                        <use xlink:href="img/spritemap.svg#sprite-email"></use>
                                    </svg>
                                    <a href="mailto:aby5000701@gmail.com" class="footer-content__contacts-text">aby5000701@gmail.com</a>
                                </li>

                                <li class="footer-content__contacts-item">
                                    <svg>
                                        <use xlink:href="img/spritemap.svg#sprite-telegram"></use>
                                    </svg>
                                    <a href="#telegram" class="footer-content__contacts-text">Telegram</a>
                                </li>

                                <li class="footer-content__contacts-item">
                                    <svg>
                                        <use xlink:href="img/spritemap.svg#sprite-viber"></use>
                                    </svg>
                                    <a href="#viber" class="footer-content__contacts-text">Viber</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="copyright">© Альянс Будівельників України</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER END -->

    <div class="background-lines">
        <span class="background-lines__line"></span>
        <span class="background-lines__line"></span>
        <span class="background-lines__line"></span>
        <span class="background-lines__line"></span>
    </div>
</div>

<div class="icon-load">
    <picture><img src="<%= require('./img/loader.svg') %>" alt="pre-loader"></picture>
</div>
<!-- BODY END   -->
</body>
</html>
