<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Product card</title>
</head>
<body class="loaded">
<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header">
        <div class="header-top-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="header-top">
                            <div class="header-top__info">
                                <span class="header-top__info-text">Будівельна ліцензія: 2013048897 від 30.03.18</span>
                                <span class="header-top__info-text">Вул. Набережно-хрещатицька 11, м. Київ, 03800</span>
                            </div>

                            <ul class="header-top__contact">
                                <li class="header-top__contact-item">
                                    <a href="#contact" class="header-top__contact-link">
                                        <svg>
                                            <use xlink:href="img/spritemap.svg#sprite-telegram"></use>
                                        </svg>
                                        Telegram</a>
                                </li>
                                <li class="header-top__contact-item">
                                    <a href="#contact" class="header-top__contact-link">
                                        <svg>
                                            <use xlink:href="img/spritemap.svg#sprite-viber"></use>
                                        </svg>
                                        Viber</a>
                                </li>
                                <li class="header-top__contact-item">
                                    <a href="tel:+380503988898" class="header-top__contact-link">(050) 398 88 98</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="header-content-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="header-content">
                            <a href="/" class="header-content__logo logo">
                                <picture class="logo__pic">
                                    <img src="<%= require('./img/logo.svg') %>" title="" alt="">
                                </picture>
                            </a>

                            <div class="header-content__menu-wrap">
                                <button type="button" class="header-content__menu-switch">
                                    <span class="header-content__menu-switch-line"></span>
                                </button>

                                <ul class="header-content__menu">
                                    <li class="header-content__menu-item">
                                        <a href="#menu-link" class="header-content__menu-link">Товари</a>

                                        <ul class="header-content__menu-dropdown">
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Асфальтобетонні суміші</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Бетонні суміші</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Залізобетонні вироби</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Кладочні матеріали</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Пиломатеріали матеріали</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Сипучі матеріали</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Фасовані матеріали</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Цемент</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Дроблений бетон</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Цегляний бій</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="header-content__menu-item">
                                        <a href="#menu-link" class="header-content__menu-link">Спецтехніка</a>

                                        <ul class="header-content__menu-dropdown">
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Автобетононасоси</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Екскаватори</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Бульдозери</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Автогрейдери</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Навантажувачі</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Міні навантажувачі</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Катки</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Асфальтоукладчики</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Довгоміри і панелевози</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Автокрани</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Маніпулятори</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Автовишки</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="header-content__menu-item">
                                        <a href="#menu-link" class="header-content__menu-link">Будівельні роботи</a>

                                        <ul class="header-content__menu-dropdown">
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Асфальтобетонні роботи</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Благоустрій території</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Снігоприбиральні роботи</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Снігоприбиральні роботи</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Вивіз буд сміття</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Розробка і риття котлованів</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Демонтаж споруд</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Монолітні роботи</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Швидкомонтовані будівлі</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item">
                                                <a href="dropdown-link" class="header-content__menu-dropdown-link">Залізничні перевезення</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="header-content__menu-item">
                                        <a href="#menu-link" class="header-content__menu-link">Об’єкти</a>
                                    </li>

                                    <li class="header-content__menu-item">
                                        <a href="#menu-link" class="header-content__menu-link">Про нас</a>

                                        <ul class="header-content__menu-dropdown">
                                            <li class="header-content__menu-dropdown-item"><a href="dropdown-link"
                                                                                              class="header-content__menu-dropdown-link">Сертификаты</a>
                                            </li>
                                            <li class="header-content__menu-dropdown-item"><a href="dropdown-link" class="header-content__menu-dropdown-link">Что-то
                                                ещё</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="header-content__menu-item">
                                        <a href="#menu-link" class="header-content__menu-link">Акції</a>
                                    </li>

                                    <li class="header-content__menu-item">
                                        <a href="#menu-link" class="header-content__menu-link">Контакти</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="header-content__tools">
                                <div class="header-content__search">
                                    <label class="header-content__search-label">
                                        <input type="search" class="header-content__search-input" placeholder="Пошук">
                                        <svg><use xlink:href="img/spritemap.svg#sprite-search"></use></svg>
                                    </label>
                                </div>

                                <div class="header-content__languages">
                                    <a href="#lang" class="header-content__languages-switch active">ua</a>
                                    <a href="#lang" class="header-content__languages-switch">ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">
        <section class="section section-breadcrumb">
            <div class="container">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Головна</a></li>
                        <li class="breadcrumb-item"><a href="#">Послуги</a></li>
                        <li class="breadcrumb-item"><a href="#">Оренда спецтехніки</a></li>
                        <li class="breadcrumb-item"><a href="#">Екскаватори</a></li>
                        <li class="breadcrumb-item">Volvo EC290</li>
                    </ol>
                </nav>
            </div>
        </section>

        <section class="section section-product-card">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="product-card">
                            <div class="product-card-view">
                                <div class="product-card-view__slider-wrap">
                                    <div class="product-card-view__slider swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/product-card01.png') %>" alt="" title="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/product-card02.png') %>" alt="" title="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/product-card03.png') %>" alt="" title="">
                                                </picture>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="product-card-view__slider-thumb swiper-container">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/product-card01.png') %>" alt="" title="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/product-card02.png') %>" alt="" title="">
                                                </picture>
                                            </div>
                                            <div class="swiper-slide">
                                                <picture>
                                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/product-card03.png') %>" alt="" title="">
                                                </picture>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="product-card-details">
                                <div class="product-card-details__characteristic">
                                    <p class="product-card-details__characteristic-title">Характеристики</p>

                                    <ul class="product-card-details__characteristic-list">
                                        <li>Маса: <span class="product-card-details__characteristic-value">27800 кг</span></li>
                                        <li>Обсяг ковша: <span class="product-card-details__characteristic-value">2 м3</span></li>
                                        <li>Макс. глибина копання: <span class="product-card-details__characteristic-value">7,4 м</span></li>
                                        <li>Продуктивність: <span class="product-card-details__characteristic-value">800 м3/ зміна</span></li>
                                        <li>Доставка: <span class="product-card-details__characteristic-value">договірна</span></li>
                                    </ul>
                                </div>

                                <div class="product-card-details__price-tag">
                                    <div class="product-card-details__price-tag-box">
                                        <p class="product-card-details__price-tag-total"><b>₴ 1150</b> / год</p>
                                    </div>

                                    <div class="product-card-details__price-tag-box">
                                        <a href="#" class="btn btn-lg btn-primary">Орендувати</a>
                                    </div>
                                </div>

                                <div class="product-card-details__description-service">
                                    <h2>Екскаватор: Volvo EC290</h2>
                                    <p>Гусеничний екскаватор Volvo EC290BLC відрізняється силовою установкою, модифікованої спеціально під цю модель. Модель володіє економічністю і
                                        гранично точної реакцією на дії оператора за рахунок керування двигуна по навантаженню гідросистеми.
                                    </p>
                                    <p>Екскаватор обладнаний двигуном Volvo D7E EAE2 з охолодженням наддувочного повітря. Його потужність становить 208 кінських сил.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-other-products">
            <div class="container">
                <p class="title">Схожі пропозиції</p>

                <div class="row">
                    <div class="col-12">
                        <div class="catalog other-products">
                            <div class="catalog__card">
                                <picture class="catalog__card-pic">
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/services-01.png') %>" title="" alt="">
                                </picture>
                                <p class="catalog__card-text">Volvo EC290</p>
                                <p class="catalog__card-price"><b>₴ 1900</b> / год</p>
                                <a href="" class="catalog__card-link btn btn-primary btn-block">Переглянути</a>
                            </div>

                            <div class="catalog__card">
                                <picture class="catalog__card-pic">
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/services-01.png') %>" title="" alt="">
                                </picture>
                                <p class="catalog__card-text">Volvo EC290</p>
                                <p class="catalog__card-price"><b>₴ 1900</b> / год</p>
                                <a href="" class="catalog__card-link btn btn-primary btn-block">Переглянути</a>
                            </div>

                            <div class="catalog__card">
                                <picture class="catalog__card-pic">
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/services-01.png') %>" title="" alt="">
                                </picture>
                                <p class="catalog__card-text">Volvo EC290</p>
                                <p class="catalog__card-price"><b>₴ 1900</b> / год</p>
                                <a href="" class="catalog__card-link btn btn-primary btn-block">Переглянути</a>
                            </div>

                            <div class="catalog__card">
                                <picture class="catalog__card-pic">
                                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/services-01.png') %>" title="" alt="">
                                </picture>
                                <p class="catalog__card-text">Volvo EC290</p>
                                <p class="catalog__card-price"><b>₴ 1900</b> / год</p>
                                <a href="" class="catalog__card-link btn btn-primary btn-block">Переглянути</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-content">
                        <div class="footer-content__column">
                            <a href="/" class="logo">
                                <picture class="logo__pic">
                                    <img src="<%= require('./img/logo.svg') %>" title="" alt="">
                                </picture>
                            </a>

                            <div class="footer-content__social">
                                <p class="footer-content__social-text">Наші соцмережі</p>

                                <div class="footer-content__social-container">
                                    <a href="#instagram" class="footer-content__social-link">
                                        <svg>
                                            <use xlink:href="img/spritemap.svg#sprite-insta"></use>
                                        </svg>
                                    </a>
                                    <a href="#facebook" class="footer-content__social-link">
                                        <svg>
                                            <use xlink:href="img/spritemap.svg#sprite-facebook"></use>
                                        </svg>
                                    </a>
                                    <a href="#youtube" class="footer-content__social-link">
                                        <svg>
                                            <use xlink:href="img/spritemap.svg#sprite-youtube"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="footer-content__column">
                            <p class="footer-content__column-title">Категорії</p>

                            <nav class="footer-content__nav">
                                <a href="#f-nav" class="footer-content__nav-link">Послуги</a>
                                <a href="#f-nav" class="footer-content__nav-link">Товари</a>
                                <a href="#f-nav" class="footer-content__nav-link">Акції</a>
                                <a href="#f-nav" class="footer-content__nav-link">Об’єкти</a>
                                <a href="#f-nav" class="footer-content__nav-link">Про нас</a>
                                <a href="#f-nav" class="footer-content__nav-link">Сертифікати</a>
                                <a href="#f-nav" class="footer-content__nav-link">Ліцензії</a>
                                <a href="#f-nav" class="footer-content__nav-link">Контакти</a>
                            </nav>
                        </div>

                        <div class="footer-content__column">
                            <p class="footer-content__column-title">Адреса та зв'язок</p>

                            <ul class="footer-content__contacts">
                                <li class="footer-content__contacts-item">
                                    <svg>
                                        <use xlink:href="img/spritemap.svg#sprite-location"></use>
                                    </svg>
                                    <span class="footer-content__contacts-text">Вул. Набережно-хрещатицька 11, м. Київ, 03800</span>
                                </li>

                                <li class="footer-content__contacts-item">
                                    <svg>
                                        <use xlink:href="img/spritemap.svg#sprite-call"></use>
                                    </svg>
                                    <a href="tel:+380503988898" class="footer-content__contacts-text">(050) 398 88 98</a>
                                </li>

                                <li class="footer-content__contacts-item">
                                    <svg>
                                        <use xlink:href="img/spritemap.svg#sprite-email"></use>
                                    </svg>
                                    <a href="mailto:aby5000701@gmail.com" class="footer-content__contacts-text">aby5000701@gmail.com</a>
                                </li>

                                <li class="footer-content__contacts-item">
                                    <svg>
                                        <use xlink:href="img/spritemap.svg#sprite-telegram"></use>
                                    </svg>
                                    <a href="#telegram" class="footer-content__contacts-text">Telegram</a>
                                </li>

                                <li class="footer-content__contacts-item">
                                    <svg>
                                        <use xlink:href="img/spritemap.svg#sprite-viber"></use>
                                    </svg>
                                    <a href="#viber" class="footer-content__contacts-text">Viber</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="copyright">© Альянс Будівельників України</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER END -->

    <div class="background-lines">
        <span class="background-lines__line"></span>
        <span class="background-lines__line"></span>
        <span class="background-lines__line"></span>
        <span class="background-lines__line"></span>
    </div>
</div>

<button id="to_top">
    <svg><use xlink:href="img/spritemap.svg#sprite-dropdown"></use></svg>
</button>
<div class="icon-load">
    <picture><img src="<%= require('./img/loader.svg') %>" alt="pre-loader"></picture>
</div>
<!-- BODY END   -->
</body>
</html>
